
.district-box{
  /* background: #b4c4dc; */
  /* color: white; */
  padding: 20px 10px;
}

.flex-table {
  display: flex;
  justify-content: normal;
  padding: 0px;
}

.flex-table > h1,
.flex-table > h3,
.flex-table > h4
{
  padding-right:10px;
  /* color: darkslategray; */
}

.button-center{
  display: flex;
  justify-content: center;
}

.name-size {
  font-size: 20px;
}

.panel {
    padding: 0 18px;
    display: none;
    /* background-color: white; */
    overflow: hidden;
}

.extraContact {
width: 200px;
}

#button-status{
  padding:6px 1px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: lightslategrey; */
  background-color: #b4c4dc;
}



/* .card-border{
  background: #b4c4dc;
  padding: 20px 10px;
} */


.jumbotron {
  padding-top: 32px;
}

table {
  text-align: center;
}

th, td {
  padding-right: 2px !important;
  padding-left:2px !important;
}

.align-left {
  text-align: left;
}

.address {
  height: 28px;
}

.party-status {
  margin-top: 10px;
  margin-bottom: 10px;
}

#voterId, #id {
  display: none;
}



